<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <a href="/logout">logout</a>
    <p th:utext="|Welcome ${message}|">Welcome to our Home page</p>
    <p th:text="|Authorities: ${authorities}|">Authorities</p>
    <p th:text="|AuthenticationDetails: ${details}|">AuthenticationDetail</p>
    <p th:text="|AuthenticationCredentials: ${credentials}|">Authentication Credentials</p>
    <p th:text="|Resource Content: ${resourceOrder}|">Resource Content</p>
</body>
</html>