<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Spring Security OAuth</title>
</head>
    <body>
        <h2>直接用户密码登录</h2>
        <form th:action="@{/account/login}" method="post">
            <div>
                <!--/*@thymesVar id="error" type=""*/-->
                <span id="basic-addon0">&nbsp;</span>
                <span style="font-size: 12px;color: red" th:text="${error}"></span>
                <br />
            </div>
            <p>
                <label for="user_name">用户名</label>
                <input id="user_name" name="username" type="text" placeholder="用户名" />
            </p>
            <br />
            <p>
                <label for="password">密  码</label>
                <input id="password" name="password" type="password" placeholder="密码"/>
            </p>
            <br />
            <button name="submit" type="submit" style="width:190px;">登 录</button>
        </form>
        <br>
        <h2>通过OAuth2 授权登录</h2>
        <a href="/account/connect" target="_blank">授权登录</a>

    </body>
</html>